@import "tailwindcss";
@import "../styles/utils.css";

@import "tw-animate-css";

@custom-variant dark (&:where(.dark, .dark *));

@theme inline {
  --color-brand: var(--brand);
  --color-brand-foreground: var(--brand-foreground);
  --color-light: var(--light);
  --color-light-foreground: var(--light-foreground);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);

  --font-sans: var(--font-inter);
  --font-mono: var(--font-ibm-plex-mono);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --radius-2xl: calc(var(--radius) + 8px);

  --spacing-container: 1280px;
  --spacing-container-lg: 1536px;

  --shadow-md: 0 4px 6px -1px var(--shadow), 0 2px 4px -2px var(--shadow);
  --shadow-xl: 0 20px 25px -5px var(--shadow), 0 8px 10px -6px var(--shadow);
  --shadow-2xl: 0 25px 50px -12px var(--shadow);
  --shadow-mockup: -12px 16px 48px var(--shadow-strong);

  --animate-accordion-down: accordion-down 0.2s ease-out;
  --animate-accordion-up: accordion-up 0.2s ease-out;
  --animate-appear: appear 0.6s forwards ease-out;
  --animate-appear-zoom: appear-zoom 0.6s forwards ease-out;

  @keyframes accordion-down {
    from {
      height: 0;
    }

    to {
      height: var(--radix-accordion-content-height);
    }
  }

  @keyframes accordion-up {
    from {
      height: var(--radix-accordion-content-height);
    }

    to {
      height: 0;
    }
  }

  @keyframes appear {
    0% {
      opacity: 0;
      transform: translateY(1rem);
      filter: blur(0.5rem);
    }

    50% {
      filter: blur(0);
    }

    100% {
      opacity: 1;
      transform: translateY(0);
      filter: blur(0);
    }
  }

  @keyframes appear-zoom {
    0% {
      opacity: 0;
      transform: scale(0.5);
    }

    100% {
      opacity: 1;
      transform: scale(1);
    }
  }
}

:root {
  /* Accent colors */
  --brand: oklch(66.5% 0.1804 47.04);
  --brand-foreground: oklch(75.77% 0.159 55.91);

  /* Customized shadcn/ui colors */
  --background: oklch(0.9529 0.0146 102.4597);
  --foreground: oklch(0.4063 0.0255 40.3627);
  --card: oklch(0.9529 0.0146 102.4597);
  --card-foreground: oklch(0.4063 0.0255 40.3627);
  --popover: oklch(1.0000 0 0);
  --popover-foreground: oklch(0.4063 0.0255 40.3627);
  --primary: oklch(0.6083 0.0623 44.3588);
  --primary-foreground: oklch(1.0000 0 0);
  --secondary: oklch(0.7473 0.0387 80.5476);
  --secondary-foreground: oklch(1.0000 0 0);
  --muted: oklch(0.8502 0.0389 49.0874);
  --muted-foreground: oklch(0.5416 0.0512 37.2132);
  --accent: oklch(0.8502 0.0389 49.0874);
  --accent-foreground: oklch(0.4063 0.0255 40.3627);
  --destructive: oklch(0.2225 0.0098 52.9636);
  --destructive-foreground: oklch(1.0000 0 0);
  --border: oklch(0.7473 0.0387 80.5476);
  --input: oklch(0.7473 0.0387 80.5476);
  --ring: oklch(0.6083 0.0623 44.3588);
  --chart-1: oklch(0.6083 0.0623 44.3588);
  --chart-2: oklch(0.5416 0.0512 37.2132);
  --chart-3: oklch(0.7272 0.0539 52.3320);
  --chart-4: oklch(0.7473 0.0387 80.5476);
  --chart-5: oklch(0.6440 0.0405 52.3917);
  --sidebar: oklch(0.8903 0.0278 49.5658);
  --sidebar-foreground: oklch(0.4063 0.0255 40.3627);
  --sidebar-primary: oklch(0.6083 0.0623 44.3588);
  --sidebar-primary-foreground: oklch(1.0000 0 0);
  --sidebar-accent: oklch(0.7272 0.0539 52.3320);
  --sidebar-accent-foreground: oklch(1.0000 0 0);
  --sidebar-border: oklch(0.6440 0.0405 52.3917);
  --sidebar-ring: oklch(0.6083 0.0623 44.3588);
  --font-sans: DM Sans, sans-serif;
  --font-serif: Georgia, serif;
  --font-mono: Menlo, monospace;
  --radius: 0.5rem;
  --shadow-2xs: 2px 2px 0px 0px hsl(20 18% 51% / 0.06);
  --shadow-xs: 2px 2px 0px 0px hsl(20 18% 51% / 0.06);
  --shadow-sm: 2px 2px 0px 0px hsl(20 18% 51% / 0.11), 2px 1px 2px -1px hsl(20 18% 51% / 0.11);
  --shadow: 2px 2px 0px 0px hsl(20 18% 51% / 0.11), 2px 1px 2px -1px hsl(20 18% 51% / 0.11);
  --shadow-md: 2px 2px 0px 0px hsl(20 18% 51% / 0.11), 2px 2px 4px -1px hsl(20 18% 51% / 0.11);
  --shadow-lg: 2px 2px 0px 0px hsl(20 18% 51% / 0.11), 2px 4px 6px -1px hsl(20 18% 51% / 0.11);
  --shadow-xl: 2px 2px 0px 0px hsl(20 18% 51% / 0.11), 2px 8px 10px -1px hsl(20 18% 51% / 0.11);
  --shadow-2xl: 2px 2px 0px 0px hsl(20 18% 51% / 0.28);
  --tracking-normal: 0em;
  --spacing: 0.25rem;

  /* Illustrations colors */
  --light: var(--brand);
  --light-foreground: var(--brand-foreground);

  /* Shadows */
  --shadow: #00000008;
  --shadow-strong: #00000008;
}

.dark {
  /* Accent colors */
  --brand: oklch(83.6% 0.1177 66.87);
  --brand-foreground: oklch(75.77% 0.159 55.91);

  /* Customized shadcn/ui colors */
--background: oklch(0.1607 0.0054 67.4320);
  --foreground: oklch(0.8563 0.0123 79.7791);
  --card: oklch(0.1801 0.0078 67.2987);
  --card-foreground: oklch(0.8563 0.0123 79.7791);
  --popover: oklch(0.1801 0.0078 67.2987);
  --popover-foreground: oklch(0.8563 0.0123 79.7791);
  --primary: oklch(0.8563 0.0123 79.7791);
  --primary-foreground: oklch(0.2797 0.0093 67.4318);
  --secondary: oklch(0.3044 0.0128 72.3519);
  --secondary-foreground: oklch(0.8563 0.0123 79.7791);
  --muted: oklch(0.2797 0.0093 67.4318);
  --muted-foreground: oklch(0.6085 0.0173 67.4943);
  --accent: oklch(0.3044 0.0128 72.3519);
  --accent-foreground: oklch(0.8563 0.0123 79.7791);
  --destructive: oklch(0.4437 0.1613 26.8994);
  --destructive-foreground: oklch(0.9356 0.0309 17.7172);
  --border: oklch(0.2797 0.0093 67.4318);
  --input: oklch(0.2797 0.0093 67.4318);
  --ring: oklch(0.7161 0.0091 56.2590);
  --chart-1: oklch(0.6056 0.2189 292.7172);
  --chart-2: oklch(0.6231 0.1880 259.8145);
  --chart-3: oklch(0.6959 0.1491 162.4796);
  --chart-4: oklch(0.7049 0.1867 47.6044);
  --chart-5: oklch(0.6559 0.2118 354.3084);
  --sidebar: oklch(0.1801 0.0078 67.2987);
  --sidebar-foreground: oklch(0.8563 0.0123 79.7791);
  --sidebar-primary: oklch(0.8563 0.0123 79.7791);
  --sidebar-primary-foreground: oklch(0.2797 0.0093 67.4318);
  --sidebar-accent: oklch(0.3044 0.0128 72.3519);
  --sidebar-accent-foreground: oklch(0.8563 0.0123 79.7791);
  --sidebar-border: oklch(0.2797 0.0093 67.4318);
  --sidebar-ring: oklch(0.7161 0.0091 56.2590);

  --font-sans: DM Sans, sans-serif;
  --font-serif: Georgia, serif;
  --font-mono: Menlo, monospace;
  --radius: 0.5rem;
    --shadow-2xs: 0px 2px 4px 0px hsl(0 0% 0% / 0.05);
    --shadow-xs: 0px 2px 4px 0px hsl(0 0% 0% / 0.05);
    --shadow-sm: 0px 2px 4px 0px hsl(0 0% 0% / 0.10), 0px 1px 2px -1px hsl(0 0% 0% / 0.10);
    --shadow: 0px 2px 4px 0px hsl(0 0% 0% / 0.10), 0px 1px 2px -1px hsl(0 0% 0% / 0.10);
    --shadow-md: 0px 2px 4px 0px hsl(0 0% 0% / 0.10), 0px 2px 4px -1px hsl(0 0% 0% / 0.10);
    --shadow-lg: 0px 2px 4px 0px hsl(0 0% 0% / 0.10), 0px 4px 6px -1px hsl(0 0% 0% / 0.10);
    --shadow-xl: 0px 2px 4px 0px hsl(0 0% 0% / 0.10), 0px 8px 10px -1px hsl(0 0% 0% / 0.10);
    --shadow-2xl: 0px 2px 4px 0px hsl(0 0% 0% / 0.25);

  /* Illustrations colors */
  --light: var(--foreground);
  --light-foreground: var(--foreground);

  /* Shadows */
  --shadow: #00000020;
  --shadow-strong: #00000088;
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}